<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class helper setting</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/config.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/config.js"></script>
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>name</p>
                <input type="text" id="user_name" value="{{ user_name }}">
            </div>
            <div class="flex">
                <p>openid</p>
                <input type="text" id="openid" value="{{ openid }}">
            </div>
            <div class="flex">
                <p>xh</p>
                <input type="text" id="xh" value="{{ xh }}">
            </div>
            <div class="flex">
                <p>pushplus token</p>
                <input type="text" id="pushplustoken" value="{{ pushplustoken }}">
            </div>
            <div class="flex">
                <p>telegram bot token</p>
                <input type="text" id="tgtoken" value="{{ tgtoken }}">
            </div>
            <div class="flex">
                <p>telegram user id</p>
                <input type="text" id="tg_user_id" value="{{ tg_user_id }}">
            </div>

            <!-- 选择框 -->
            <div class="check">
                <div class="check-box">
                    <div class="check-left-box">pushplus</div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_pushplus" {{ switch_pushplus }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">pushplus push rightnow</div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_pushplus_rightnow" {{ switch_pushplus_rightnow }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">telegram</div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_telegram" {{ switch_telegram }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">telegram push rightnow</div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_telegram_rightnow" {{ switch_telegram_rightnow }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">weather</div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_weather" {{ switch_weather }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">海科新闻</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_hkxw" {{ data_hkxw }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">通知公告</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_tzgg" {{ data_tzgg }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">媒体报道</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_mtbd" {{ data_mtbd }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">领导谈话</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_ldth" {{ data_ldth }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">教务通知</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_jwtz" {{ data_jwtz }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">科研通知</div>
                    <input type="checkbox" class="checkbox-right-box" id="data_kytz" {{ data_kytz }}>
                </div>
                <!-- <div class="check-box">
                    <div class="check-left-box"></div>
                    <input type="checkbox" class="checkbox-right-box" id="switch_weather" {{  }}>
                </div> -->
            </div>
        </div>
        <div class="flex-button">
            <button id="submit" class="ts">submit</button>
            <button id="logout" class="ts">logout</button>
            <button id="delete" class="ts">delete</button>
        </div>
    </div>
    <div class="bt">.</div>
</body>
</html>