<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class helper setting</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.js') }}"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.js"></script>
    <script>
        // 登出
        $(document).ready(function() {
            $("#logout").click(function(){
                $.post('http://{{ host }}:{{ port }}/users/logout',
                    function(data) {
                        // console.log(data)
                        if (data.hasOwnProperty('error')) {
                            alert(data['error'])
                            // console.log(data['error']);
                        }
                        else
                        {
                            $(location).attr('href', 'http://{{ host }}:{{ port }}/');
                            // console.log(data);
                        } 
                    }
                )
            })
        })

        // 提交
        $(document).ready(function(){
            $("#submit").click(function(){
                // 判断每个复选框的状态
                if ($('#pushplus').is(':checked')) {
                    var switch_pushplus = true
                }
                else
                {
                    var switch_pushplus = false
                }
                if ($('#telegram').is(':checked')) {
                    var switch_telegram = true
                }
                else
                {
                    var switch_telegram = false
                }
                if ($('#weather').is(':checked')) {
                    var switch_weather = true
                }
                else
                {
                    var switch_weather = false
                }
                
                // 提交内容
                $.post('http://{{ host }}:{{ port }}/submit',
                    {
                        'name': $("#user_name").val(),
                        'openid': $("#openid").val(),
                        'xh': $("#xh").val(),
                        'pushplustoken': $("#pushplustoken").val(),
                        'tgtoken': $("#tgtoken").val(),
                        'tg_user_id' : $("#tg_user_id").val(),
                        'switch_pushplus' : switch_pushplus,
                        'switch_telegram': switch_telegram,
                        'switch_weather': switch_weather
                    },
                    function (data) {
                        if (data.hasOwnProperty('error')) {
                            alert(data.error)
                        }
                        else
                        {
                            alert(data['result'])
                        }
                    }
                )
            })
        })
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'config.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/config.css">
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>name</p>
                <input type="text" id="user_name" value="{{ user_name }}">
            </div>
            <div class="flex">
                <p>openid</p>
                <input type="text" id="openid" value="{{ openid }}">
            </div>
            <div class="flex">
                <p>xh</p>
                <input type="text" id="xh" value="{{ xh }}">
            </div>
            <div class="flex">
                <p>pushplustoken</p>
                <input type="text" id="pushplustoken" value="{{ pushplustoken }}">
            </div>
            <div class="flex">
                <p>tg_bot_token</p>
                <input type="text" id="tgtoken" value="{{ tgtoken }}">
            </div>
            <div class="flex">
                <p>tg_user_id</p>
                <input type="text" id="tg_user_id" value="{{ tg_user_id }}">
            </div>

            <!-- 选择框 -->
            <div class="check">
                <div class="check-box">
                    <div class="check-left-box">pushplus</div>
                    <input type="checkbox" class="checkbox-right-box" id="pushplus" {{ switch_pushplus }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">telegram</div>
                    <input type="checkbox" class="checkbox-right-box" id="telegram" {{ switch_telegram }}>
                </div>
                <div class="check-box">
                    <div class="check-left-box">weather</div>
                    <input type="checkbox" class="checkbox-right-box" id="weather" {{ switch_weather }}>
                </div>
            </div>
        </div>
        <div class="flex-button">
            <button id="submit" class="ts">submit</button>
            <button id="logout" class="ts">logout</button>
        </div>
    </div>
    <div class="bt">.</div>
</body>
</html>