<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/forget.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <title>class helper reset password</title>
    <script>
        // 返回登录页
        $(document).ready(function() {
            $("#back").click(function() {
                $(location).attr('href', '/')
            })
        })

        // 校验邮箱并获取验证码
        $(document).ready(function() {
            $("#verifycode").click(function() {
                if ($("#email").val() != '') {
                   $.post('/sendvcode/resetpwd',
                    {
                        'email': $("#email").val()
                    },
                    function(data) {
                        if (data.hasOwnProperty('error')) {
                            alert(data['error'])
                        }
                        else
                        {
                            alert(data['result'])
                        };
                    }) 
                }
                else
                {
                    alert('邮箱不能为空')
                }
            })
        })

        // 密码重置
        $(document).ready(function() {
            $("#resetpwd").click(function() {
                console.log($("#email").val())
                if ($("#email").val() == '') {
                    alert('邮箱不能为空')
                }
                else
                {
                    var pwd1 =  $("#pwd1").val()
                    var pwd2 = $("#pwd2").val()
                    // console.log(pwd1)
                    // console.log(pwd2)
                    if (pwd1 == '' || pwd2 == '') {
                        alert('密码不能为空')
                    }
                    else
                    {
                        if (pwd1 == pwd2) {
                            console.log($("#inputverifycode").val())
                            if ($("#inputverifycode").val() == '') {
                                alert('验证码不能为空')
                            }
                            else
                            {
                                $.post('/user/resetpwd', {
                                    'email': $("#email").val(),
                                    'pwd': pwd1,
                                    "sc": $("#inputverifycode").val()
                                },
                                function(data) {
                                    if (data.hasOwnProperty('error')) {
                                        alert(data['error'])
                                    }
                                    else
                                    {
                                        alert(data['success'])
                                        $(location).attr('href', '/');
                                    };
                                })
                            }
                        }
                        else
                        {
                            alert('密码不一致')
                        }
                    }
                }
            })
        })
    </script>
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>邮箱:</p>
                <input type="text" id="email" placeholder="请输入邮箱" maxlength="25">
            </div>
            <div class="flex">
                <p>新密码:</p>
                <input type="password" id="pwd1" placeholder="请输入新密码" maxlength="25">
            </div>
            <div class="flex">
                <p>再次输入密码:</p>
                <input type="password" id="pwd2" placeholder="请再次输入新密码" maxlength="25">
            </div>
            <div class="flex">
                <p>验证码:</p>
                <input type="text" id="inputverifycode" placeholder="请输入验证码" maxlength="25">
            </div>
            <div class="flex2">
                <div class="label">
                    <button id="back">返回首页</button>
                    <button id="verifycode">发送验证码</button>
                    <button id="resetpwd">修改密码</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>