<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/forget.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <title>class helper reset password</title>
    <script type="text/javascript" src="/static/forget.js"></script>
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>邮箱:</p>
                <input type="text" id="email" placeholder="请输入邮箱" maxlength="25">
            </div>
            <div class="flex">
                <p>新密码:</p>
                <input type="password" id="pwd1" placeholder="请输入新密码" maxlength="25">
            </div>
            <div class="flex">
                <p>再次输入密码:</p>
                <input type="password" id="pwd2" placeholder="请再次输入新密码" maxlength="25">
            </div>
            <div class="flex">
                <p>验证码:</p>
                <input type="text" id="inputverifycode" placeholder="请输入验证码" maxlength="25">
            </div>
            <div class="flex2">
                <div class="label">
                    <button id="back">返回首页</button>
                    <button id="verifycode">发送验证码</button>
                    <button id="resetpwd">修改密码</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>