<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class helper login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script>
        // 点击登录
        $(document).ready(function() {
            $("#login").click(function(e){
                // e.preventDefault();
                // post
                $.post('{{ orgin }}/users/login',
                    {
                        'email': $("#email").val(),
                        'pwd': $("#pwd").val()
                    },
                    function(data) {
                        console.log(data)
                        if (data.hasOwnProperty('error')) {
                            alert(data['error'])
                            // console.log(data['error']);
                        }
                        else
                        {
                            $(location).attr('href', '{{ orgin }}/');
                            // console.log(data);
                        } 
                    }
                )
            })
        });

        // 回车登录
        $(document).keyup(function(event){
            if (event.keyCode == 13) {
                $.post('{{ orgin }}/users/login',
                    {
                        'email': $("#email").val(),
                        'pwd': $("#pwd").val()
                    },
                    function(data) {
                        console.log(data)
                        if (data.hasOwnProperty('error')) {
                            alert(data['error'])
                            // console.log(data['error']);
                        }
                        else
                        {
                            $(location).attr('href', '{{ orgin }}/');
                            // console.log(data);
                        } 
                    }
                )
            }
        });

        // 注册跳转
        $(document).ready(function() {
            $("#signup").click(function() {
                $(location).attr('href', '{{ orgin }}/register');
            })
        })
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'login.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>邮箱:</p>
                <input type="text" name="" id="email" placeholder="请输入邮箱" maxlength="25"><br>
            </div>
            <div class="flex">
                <p>密码:</p>
                <input type="password" name="" id="pwd" placeholder="请输入密码" maxlength="25" minlength="6"><br>
            </div>
            <div class="label">
                <button id="login" class="login">登录</button>
                <button id="forget" class="forget">忘记密码</button>
                <button id="signup" class="signup">注册</button>
            </div>
        </div>
    </div>
    
</body>
</html>