<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class helper register</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.js"></script>
    <script>
        // 点击登录
        $(document).ready(function() {
            $("#login").click(function(e){
                // e.preventDefault();
                // post
                $.post('http://{{ host }}:{{ port }}/users/login',
                    {
                        'email': $("#email").val(),
                        'pwd': $("#pwd").val()
                    },
                    function(data) {
                        if (data.hasOwnProperty('error')) {
                            alert(data['error'])
                        }
                        else
                        {
                            $(location).attr('href', 'http://{{ host }}:{{ port }}/');
                        } 
                    }
                )
            })
        });

        // 返回登录页
        $(document).ready(function() {
            $("#back").click(function() {
                $(location).attr('href', 'http://{{ host }}:{{ port }}/')
            })
        })

        // 校验邮箱并获取验证码
        $(document).ready(function() {
            $("#verifycode").click(function() {
                $.post('http://{{ host }}:{{ port }}/sendvcode',
                {
                    'email': $("#email").val()
                },
                function(data) {
                    if (data.hasOwnProperty('error')) {
                        alert(data['error'])
                    }
                    else
                    {
                        alert(data['result'])
                    };
                })
            })
        })

        // 注册
        $(document).ready(function() {
            $("#register").click(function() {
                console.log($("#email").val())
                if ($("#email").val() == '') {
                    alert('邮箱不能为空')
                }
                else
                {
                    var pwd1 =  $("#pwd1").val()
                    var pwd2 = $("#pwd2").val()
                    console.log(pwd1)
                    console.log(pwd2)
                    if (pwd1 == '' || pwd2 == '') {
                        alert('密码不能为空')
                    }
                    else
                    {
                        if (pwd1 == pwd2) {
                            console.log($("#inputverifycode").val())
                            if ($("#inputverifycode").val() == '') {
                                alert('验证码不能为空')
                            }
                            else
                            {
                                $.post('http://{{ host }}:{{ port }}/users/signup', {
                                    'email': $("#email").val(),
                                    'pwd': pwd1,
                                    "sc": $("#inputverifycode").val()
                                },
                                function(data) {
                                    if (data.hasOwnProperty('error')) {
                                        alert(data['error'])
                                    }
                                    else
                                    {
                                        alert(data['success'])
                                        $(location).attr('href', 'http://{{ host }}:{{ port }}/');
                                    };
                                })
                            }
                        }
                        else
                        {
                            alert('密码不一致')
                        }
                    }
                }
            })
        })
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/register.css">
</head>
<body>
    <div class="main-box">
        <div class="title">Class Helper</div>
        <div class="ep-box">
            <div class="flex">
                <p>邮箱</p>
                <input type="text" name="" id="email" placeholder="请输入邮箱" maxlength="25">
            </div>
            <div class="flex">
                <p>密码</p>
                <input type="password" name="" id="pwd1" placeholder="请输入密码" maxlength="25" minlength="6">
            </div>
            <div class="flex">
                <p>确认密码</p>
                <input type="password" name="" id="pwd2" placeholder="请输入密码" maxlength="25" minlength="6">
            </div>
            <div class="flex">
                <p>验证码</p>
                <input type="text" name="" id="inputverifycode" placeholder="请输入验证码">
            </div>
        </div>
        <div class="label">
            <button id="back" class="back">返回</button>
            <button id="verifycode" class="verifycode">获取验证码</button>
            <button id="register" class="register">注册</button>
        </div>
    </div>
    
</body>
</html>